# dependencies
node_modules/

# expo
.expo/
dist/
web-build/
expo-env.d.ts
expo-debug.log

# native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# IDE/Editor files
.vscode/
.idea/
*.swp

# Environment files
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.temp

# macos
.DS_Store
*.pem

# typescript
*.tsbuildinfo
